ul {
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
figure,
p,
ul {
  margin: 0;
}

button,
fieldset,
input,
legend,
select {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  appearance: none;
  font-family: inherit;
}
