.header {
  font-size: rem(18px);
  min-height: rem(60px);
  color: $color-text-bright;
  border-bottom: rem(1px) solid rgba(255, 255, 255, 0.5);
  background-color: $color-skyblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include font-smoothing;

  &__datepicker,
  &__keywordfilter {
    flex-basis: 100%;
    display: flex;

    @include respond-min($breakpoint-tablet) {
      flex-basis: auto;
    }
  }

  &__logo-link,
  &__logo-image {
    height: rem(30px);
  }

  &__datepicker-input {
    background-color: $color-grey-lighter;
  }

  &__datepicker-legend {
    font-size: rem(14px);
    font-weight: $font-weight-semibold;
  }
}
