.main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(48px);
  padding: rem(8px);

  @include respond-min($breakpoint-tablet) {
    margin-top: rem(88px);
    padding: rem(16px);
  }

  @include respond-min($breakpoint-desktop) {
    margin-top: rem(64px);
  }

  &__heading {
    font-size: rem(24px);
    margin: 0 auto;

    @include respond-min($breakpoint-tablet) {
      font-size: rem(32px);
    }
  }

  // align last teaser to implicit grid
  &::after {
    flex-basis: 45%;
    margin: 0 auto;
    content: "";
  }
}

[data-expanded="true"] + .main {
  margin-top: rem(190px);
}
