.teaser {
  flex-basis: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: rem(16px);

  @include respond-min($breakpoint-tablet) {
    flex-basis: 45%;
  }

  &:not(:last-of-type) {
    margin-bottom: rem(12px);
    border-bottom: 1px solid $color-grey-light;
  }

  &__headline {
    font-size: rem(24px);
    font-weight: $font-weight-semibold;
    color: $color-slate-dark;
  }

  &__date {
    font-style: italic;
    line-height: rem(20px);
  }

  &__snippet {
    margin: rem(12px) 0;
  }

  &__keywords {
    font-weight: $font-weight-semibold;
  }
}
