.teaser {
  flex-basis: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: rem(16px);
  color: $color-text-dark;

  @include respond-min($breakpoint-tablet) {
    flex-basis: 45%;
  }

  &:not(:last-of-type) {
    margin-bottom: rem(12px);
    border-bottom: 1px solid $color-grey-light;
  }

  &__headline {
    font-size: rem(24px);
    font-weight: $font-weight-semibold;
  }

  &__date {
    font-style: italic;
    line-height: rem(20px);
  }

  &__snippet {
    margin: rem(12px) 0;
  }

  &__link {
    @include on-interaction {
      text-decoration: underline;
      color: $color-turqoise;
    }
  }

  &__button {
    font-size: rem(14px);
    font-weight: $font-weight-semibold;

    &:not(:last-of-type) {
      &::after {
        display: inline-block;
        content: '\2002|\2002';
      }
    }
  }
}
