// named colors
$color-skyblue: #0091eb;
$color-turqoise: #00619a;
$color-white: #fff;
$color-black: #000;
$color-slate: #565655;
$color-slate-dark: #242424;
$color-grey-medium: #7c7c7c;
$color-grey-light: #efefef;
$color-grey-lighter: #f7f7f7;

// semantic colors
$color-text-bright: $color-white;
